<div class="container">
  <div class="top-section">
    <h1>
      INVEST WITH CONFIDENCE
    </h1>
    <h3>
      Hassle free real estate investment
    </h3>
    <p>Our proprietary AI sourcing model, analyzes hundreds of factors, and evaluates thousands of properties, to
      provide you with selected highly qualified investment properties.</p>
    <div class="top-section-bottom">
      <label style="margin-right:5px;">Need advice?</label>
      <button mat-stroked-button color="primary">
        <mat-icon class="material-icons-outlined">
          event
        </mat-icon>&nbsp;Book a Meeting
      </button>
    </div>

  </div>

  <app-background></app-background>
  <div class="property-list">

    <span matBadge="Selling Fast 📈" matBadgeOverlap="false">
      <div class="property">
        <app-property-card></app-property-card>
      </div>
    </span>
    <div class="property">
      <app-property-card></app-property-card>
    </div>

    <div class="property">
      <app-property-card></app-property-card>
    </div>
    <div class="property">
      <app-property-card></app-property-card>
    </div>
    <div class="property">
      <app-property-card></app-property-card>
    </div>
    <div class="property">
      <app-property-card></app-property-card>
    </div>
    <div class="property">
      <app-property-card></app-property-card>
    </div>
  </div>
</div>
