<div class="container">

  <div class="top-section">
    <h1>
      {{'property.message.heading' | translate}}
    </h1>
    <h3>
      {{'property.message.subHeading' | translate}}
    </h3>
    <p> {{'property.message.paragrph' | translate}}</p>
    <div class="top-section-bottom">
      <label style="margin-right:5px;">{{'property.know.advice' | translate}}</label>
      <button mat-stroked-button color="primary">
        <mat-icon class="material-icons-outlined">
          {{'property.know.event' | translate}}
        </mat-icon>&nbsp; {{'property.know.meeting' | translate}}
      </button>
    </div>

  </div>

  <app-background></app-background>

  <mat-spinner color="green" *ngIf="isLoading"></mat-spinner>
  <div class="property-list">

    <div *ngFor="let property of propertyList | paginate: config">
      <span *ngIf="!property.isAdvertisement"
        [matBadge]="( property.marketing_tags!==null)?'Selling Fast 📈': 'Shares Available'" matBadgeOverlap=false>
        <div class=" property">
          <app-property-card [property]="property"></app-property-card>
        </div>
      </span>

    </div>

    <pagination-controls (pageChange)="getNextData( $event)">
    </pagination-controls>
  </div>

</div>
