<mat-card>
  <div class="top"> <img src="../../../assets/images/BuyProperly.png" alt="logo" />
    <mat-card-title>BUYPROPERLY</mat-card-title>
  </div>
  <div>
    <div class="select-div">
      <label>Change language</label>
      <select [(ngModel)]="selectedlang" (ngModelChange)="onLanguageChange($event)">
        <option *ngFor="let lang of translate.getLangs()" [ngValue]="lang">
          {{lang}}</option>
      </select>
    </div>
    <button *ngIf=" !isLoggedIn" class="login" mat-raised-button (click)="logInHandler()"
      color="primary">{{'header.logIn'|
      translate}}</button>
    <button *ngIf="isLoggedIn" class="logout" (click)="logOuthandler()" mat-raised-button
      color="primary">{{'header.logOut'|
      translate}}</button>
  </div>
</mat-card>
