<div class="main-container">
  <app-background></app-background>
  <img class="house-1" src="../../../assets/images/house-2.png" alt="NAN" />
  <div class="card">
    <div class="large-heading">
      <label class="one">
        SIMPLE.SMART
      </label>
      <label class="two">
        ACCESSIBLE
      </label>
    </div>
    <label class="mid">
      Real Estate investing made for you
    </label>
    <p class="content">
      <strong> BuyProperly lets you invest in real estate to grow and diversify your wealth without traditional upfront
        costs.</strong>
      Starting at $2500, our AI-powered platform helps you achieve above-human performance earning monthly rental
      income, as well as capital appreciation.
    </p>
    <button class="view-properties" mat-raised-button color="primary">View Properties</button>
  </div>
</div>
