<div class="main-container">
  <app-background></app-background>
  <img class="house-1" src="../../../assets/images/house-2.png" alt="NAN" />
  <div class="card">
    <div class="large-heading">
      <label class="one">
        {{'home.titlePart1'| translate}}
      </label>
      <label class="two">
        {{'home.titlePart2'| translate}}
      </label>
    </div>
    <label class="mid">
      {{'home.midSectionHeading'| translate}}
    </label>
    <p class="content">
      <strong> {{'home.messageBold'| translate}}</strong>
      {{'home.message'| translate}}
    </p>
    <button routerLink="/properties" class="view-properties" mat-raised-button color="primary"> {{'home.viewProperties'|
      translate}}</button>
  </div>
</div>
