.background-2 {
  z-index: -3;
  opacity: 0.5;
}
.background-1 {
  z-index: -3;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  transform: rotate(120deg);
  opacity: 0.9;
}

.group-1 {
  display: flex;

  z-index: -1;
  justify-content: space-around;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
}
.group-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  flex-direction: row;
}
.group-3 {
  width: 400px;
  position: relative;
}
.background {
  z-index: -3;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100vw;
  transform: translate(-50%, -50%);
  top: 70%;
  left: 25%;
}
@media screen and (max-width: 768px) {
  .house-1 {
    width: 200px;
  }

  .group-2 {
    width: 300px;
  }
  .group-3 {
    width: 200px;
  }
}
