<div [routerLink]="'/property-details/'+property.property_slurp" class=" card">
  <div class="tag">

  </div>
  <div class="top-section">
    <div class="top-left-section">
      <img [hidden]="loading" (load)="onLoad()" src="{{property.img_src_main}}" alt="NAN" />

      <div class="title">
        <h1 class="property_card_title">
          <!-- address_area -->
          {{property.address_area}}
        </h1>
        <h2 *ngIf="property.property_card_subtitle" class="property_card_subtitle">
          <!-- property_card_subtitle -->
          {{property.property_card_subtitle}}
        </h2>
        <h2 *ngIf="!property.property_card_subtitle" class="property_card_subtitle">
          <!-- property_card_subtitle -->
          {{property.address}}
        </h2>
      </div>
    </div>
    <div class="top-right-section">
      <h1>
        <!-- heading -->
        {{'propertyCard.type' | translate}}
      </h1>

      <hr />

      <div class="card-details">
        <div class="content-2">
          <div *ngIf="property.total_offering!==null else elseblock" class="content-2-box">
            <h3> {{'propertyCard.totalOffering' | translate}}</h3>
            <span style="    background-color: #8bc34ab0;">{{property.total_offering | currency}}</span>
          </div>
          <ng-template #elseblock>
            <div class="content-2-box">
              <h3> {{'propertyCard.purchasePrice' | translate}}</h3>
              <span style="    background-color: #8bc34ab0;">{{property.purchase_price | currency}}</span>
            </div>
          </ng-template>
          <div *ngIf="property.total_term!==null else elseblock2" class="content-2-box">
            <h3> {{'propertyCard.projectTerm' | translate}}</h3>
            <span style="    background-color: #cddc39b8;">{{property.total_term}}</span>
          </div>
          <ng-template #elseblock2>
            <div class="content-2-box">
              <h3>{{'propertyCard.PGRY' | translate}}</h3>
              <span style="    background-color: #cddc39b8;">{{property.rental_yield}} %</span>
            </div>
          </ng-template>
          <div class="content-2-box">
            <h3>{{'propertyCard.A_ROI' | translate}}</h3>
            <span style="    background-color: #2196f347;">{{property.projected_annual_returns_min}} %</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="middle-section">

    <!-- if dimensions==null -->
    <!-- <div class="container-1"></div> -->
    <!-- else -->
    <div *ngIf="property.is_preconstruction_property===true" class="container-2">
      <div>{{'propertyCard.redevelopment' | translate}}</div>
    </div>
    <div *ngIf="property.is_preconstruction_property===false" class="container-2">
      <div>{{'propertyCard.valueAddProperty' | translate}}</div>
    </div>
    <div *ngIf="property.is_preconstruction_property===null" class="container-2">
      <div>
        <fa-icon [icon]="faBed"></fa-icon>
        <label>{{property.dimensions}}</label>
      </div>
      <div>
        <fa-icon [icon]="faHome"></fa-icon>
        <label>{{property.bedrooms}}</label>
      </div>
      <div>
        <fa-icon [icon]="faBath"></fa-icon>
        <label>{{property.bedrooms}}</label>
      </div>
    </div>

  </div>

  <div class="bottom-section">

    <button routerLink="/property-details" class="view-property-button" mat-raised-button
      color="primary">{{'propertyCard.InvestNow' | translate}}</button>
  </div>
</div>
