.container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.top-img-div {
  position: relative;
  width: 100%;
}
.top-img-div img {
  width: 100%;
  border-radius: 10px;
}

.property-details {
  background-color: #ffffff9c;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  position: absolute;
  z-index: 2;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  margin-top: 35em;
  width: 90%;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 1px 1px 30px 1px grey;
}
.main-title {
  font-size: 2.3em;
  font-weight: 800;
}
.subtitle {
  font-size: 1.5em;
}
.type {
  margin-top: 1em;
}
.type h1 {
  font-size: 2em;
  font-weight: bolder;
}
.small-card {
  background-color: #40535d;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  /* box-shadow: 1px 1px 10px 1px #7d91ff57; */
  padding: 0.2em 0em;
  color: white;
  margin: 1em 0em;
}
.small-card span {
  font-size: 2em;
}
.small-card h2 {
  font-size: 1.5em;
}
.meeting-container {
  margin: 1em 0em;
  display: flex;
  justify-content: flex-end;
}
.other-details {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-meeting-btn {
  font-size: 1.1em;
  padding: 0.5em;
  background-color: white;
  border-radius: 10px;
  color: #407ce8;
}
.document-btn {
  font-size: 1.1em;
  padding: 0.5em;
  background-color: white;
  color: #232d3f;
  margin-left: 1em;
  border-radius: 10px;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shares-btn {
  padding: 0.5em;
  background-color: #673ab7;
  color: #ffffff;
  font-size: 1.5em;
  width: 80%;
  margin: 2em;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px grey;
}
.invest-btn {
  padding: 0.5em;
  background-color: #4caf50;
  color: #ffffff;
  font-size: 1.6em;
  margin: 1em 0em;
  box-shadow: 0px 0px 10px 0px grey;
  width: 50%;
  border-radius: 10px;
}
.middle-section {
  display: flex;
}
.images {
  width: 70%;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 10%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.images img {
  border-radius: 10px;
}
.images img:nth-child(1) {
  width: 40%;
  height: 50%;
  margin: 1em 0em;
}
.images img:nth-child(2) {
  width: 50%;
  height: 50%;
}

.carousel {
  height: 400px;
  width: 300px;
}
.carousel-cells .carousel-cel {
  width: 1000px;
}
.progress-loader {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.progress-loader :nth-child(2) {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 5%;
}
mat-spinner {
  color: rgb(47, 255, 82);
}
@media screen and (max-width: 800px) {
  .property-details {
    margin-top: 100em;
  }
  .middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .other-details {
    width: 100%;
  }
  .images img:nth-child(1) {
    width: 100%;
    height: 50%;
  }
}
