<div class="container">
  <div class="top-img-div">
    <img src="https://buyproperly-common-ca.s3.ca-central-1.amazonaws.com/properties/prop_18_phoenix/4.jpg" />

  </div>
  <div class="property-details">
    <div class="title">
      <h1 class="main-title">St. Catharines</h1>
      <h2 class="subtitle">41 Niagara Street, St. Catharines, Ontario, L2M 3P9</h2>
    </div>
    <div class="type">
      <h1>Detached House</h1>
    </div>
    <div class="other-details">
      <div class="small-card">
        <h2>Purchase Price</h2>
        <span>$ 641,000</span>
      </div>
      <div class="small-card">
        <h2>Projected Gross Rental Yield</h2>
        <span>6.3 %</span>
      </div>
      <div class="small-card">
        <h2>Projected Annual ROI</h2>
        <span>43.2 %</span>
      </div>
    </div>
    <div class="meeting-container">
      <button class="book-meeting-btn" mat-stroked-button color="primary">
        <fa-icon [icon]="faCalendar"></fa-icon>&nbsp;Book a Meeting
      </button>
      <button class="document-btn" mat-stroked-button color="primary">
        <fa-icon [icon]="faBook"></fa-icon> &nbsp;Documents
      </button>
    </div>
    <div class="buttons">
      <button mat-button class="share-btn" color="primary">
        Shares Available
      </button>
      <button class="invest-btn" mat-button color="primary">
        Invest
      </button>
      <div class="note">
        <p>Capital At Risk - Please read Key Risks and Purchaser's Rights before investing.
          Note: Investment metrics displayed on this page are based on Selling Price/Share of $10 and property closing
          date of Aug 2021.</p>

      </div>
    </div>

  </div>
</div>
