<div *ngIf="loading" class="progress-loader">
  <div>
    <ngx-skeleton-loader count="1" [theme]="{
      'border-radius': '10px',
      height: '100vh',
      width:'100vw',
      'background-color': 'rgb(217,217,217)'
    }"></ngx-skeleton-loader>
  </div>
  <div>
    <ngx-skeleton-loader count="1" [theme]="{
    'border-radius': '10px',
    height: '100vh',
    width:'90vw',
    'z-index':'3',
    'background-color': 'rgb(180,180,180)'
  }"></ngx-skeleton-loader>
  </div>
</div>
<div *ngIf="!loading" class="container">
  <div [hidden]="isImageLoading" class="top-img-div">
    <img [src]="property.images[0]" (load)="onLoad()" alt="NAN" />
  </div>
  <div [hidden]="isImageLoading" class="property-details">
    <div class="title">
      <h1 class="main-title">{{property.address_area}}</h1>
      <h2 *ngIf="property.property_card_subtitle" class="subtitle">{{property.property_card_subtitle}}</h2>
      <h2 *ngIf="!property.property_card_subtitle" class="subtitle">{{property.address}}</h2>
    </div>
    <div class="type">
      <h1>
        Multi Family Residential</h1>
    </div>
    <div class="middle-section">
      <div class="other-details">
        <div *ngIf="property.total_offering!==null else elseblock" class="small-card">
          <h2>Total Offering</h2>
          <span>{{property.total_offering | currency}}</span>
        </div>
        <ng-template #elseblock>
          <div class="small-card">
            <h2>Purchase Price</h2>
            <span>{{property.purchase_price | currency}}</span>
          </div>
        </ng-template>
        <div *ngIf="property.total_term!==null else elseblock2" class="small-card">
          <h2>Project Term</h2>
          <span>{{property.total_term}}</span>

        </div>
        <ng-template #elseblock2>
          <div class="small-card">
            <h2>Projected Gross Rental Yield</h2>
            <span>{{property.rental_yield}} %</span>
          </div>
        </ng-template>
        <div class="small-card">
          <h2>Projected Annual ROI</h2>
          <span>{{property.projected_annual_returns_min}} %</span>
        </div>
        <button mat-button class="shares-btn" color="primary">
          Shares Available
        </button>
      </div>
      <div class="images">
        <img [src]="property.images[0]" alt="" />
        <carousel [cellWidth]="carousel.width" [width]="carousel.width" [height]="carousel.height" [images]="images">
        </carousel>
      </div>

    </div>
    <div class="meeting-container">
      <button class="book-meeting-btn" mat-stroked-button color="primary">
        <fa-icon [icon]="faCalendar"></fa-icon>&nbsp;Book a Meeting
      </button>
      <button class="document-btn" mat-stroked-button color="primary">
        <fa-icon [icon]="faBook"></fa-icon> &nbsp;Documents
      </button>
    </div>
    <div class="buttons">

      <button class="invest-btn" mat-button color="primary">
        Invest
      </button>
      <div class="note">
        <p>Capital At Risk - Please read Key Risks and Purchaser's Rights before investing.
          Note: Investment metrics displayed on this page are based on Selling Price/Share of $10 and property closing
          date of Aug 2021.</p>

      </div>
    </div>

  </div>
</div>
